@model ForgotPasswordViewModel

<div class="fxt-content">
	
	<div class="fxt-form">
		<h2>找回密码</h2>
		<form asp-controller="Account"
		      asp-action="ForgotPassword"
		      method="post">
			<div class="form-group">
				<label asp-for="Email" class="input-label"></label>
				<input asp-for="Email" class="form-control" placeholder="demo@xxx.com" required/>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<button type="submit" class="fxt-btn-fill">发送验证码</button>
			</div>
		</form>
	</div>
	
	<div class="fxt-footer">
		<p>
			还没账号?
			<a asp-action="Register"
			   asp-route-returnurl="@ViewData["ReturnUrl"]"
			   class="switcher-text2 inline-text">
				点此注册
			</a>
		</p>
	</div>
</div>
