<div class="fxt-content">
	<div class="fxt-form">
		<img src="~/images/icon_对号.png" alt=""/>
		<h2>邮件发送成功！</h2>
		<p>请检查您的电子邮件以重置密码</p>
		<a asp-controller="Home" asp-action="Index" style="border: 1px">返回主页</a>
	</div>
</div>
