<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewData["Title"]</title>
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/layui/css/layui.css">
		<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css"/>
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/lib/layui/css/layui.css">
		<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
	</environment>
	<style>
		body{
			background-image: url('./images/bg_manage.jpg');
			background-repeat:no-repeat;
		}
	</style>
</head>

<body>
@* TODO：头 *@
@{ await Html.RenderPartialAsync("Partial_TopBar"); }

@* TODO：主体 *@
<main>
	<section class="container-lg">
		<div class="p-5 bg-body-secondary">
			@RenderBody()
		</div>
	</section>
</main>

@* TODO：脚 *@
<footer>

</footer>

<environment include="Development">
	<script src="~/lib/layui/layui.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
</environment>
<environment exclude="Development">
	<script src="~/lib/layui/layui.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</environment>
@* 提供一个占位符用于按需的渲染额外的脚本 *@
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
