@model ApplicationManageViewModel
<div class="p-4">
	<div class="d-flex justify-content-between">
		<h3>应用管理</h3>
		<form method="get" asp-controller="Manage" asp-action="ApplicationCreate">
			<button class="btn btn-primary">+创建应用</button>
		</form>
	</div>
	<hr>
	<div>
		@foreach(var app in Model.Applications)
		{
		<form method="get" asp-controller="Manage" asp-action="ApplicationEdit">
			<input name="appId" value="@app.Id" hidden>
			<button type="submit" class="btn btn-primary">@app.DisplayName</button>
		</form>
		}
	</div>
</div>
