@model ChangePasswordViewModel
<div class="p-4">
	<h4>修改密码</h4>
	<hr>
	<form asp-controller="Manage" asp-action="ChangePassword" method="post">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="col-6">
			<label asp-for="OldPassword"></label>
			<input asp-for="OldPassword" class="form-control"/>
		</div>
		<div class="col-6">
			<label asp-for="NewPassword"></label>
			<input asp-for="NewPassword" class="form-control"/>
		</div>
		<div class="col-6">
			<label asp-for="ConfirmPassword"></label>
			<input asp-for="ConfirmPassword" class="form-control"/>
		</div>
		<div class="mt-2">
			<button type="submit" class="btn btn-primary">确认修改</button>
			<a asp-controller="Account" asp-action="ForgotPassword">已有帐号，忘记密码？</a>
		</div>
	</form>
</div>

