@model ChangeEmailViewModel
<div class="p-4">
	<h4>更换邮箱</h4>
	<hr>
	<form asp-controller="Manage" asp-action="ChangeEmail" method="post">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="col-6">
			<label asp-for="Email"></label>
			<input asp-for="Email" class="form-control"/>
		</div>
		<div class="mt-2">
			<button type="submit" class="btn btn-primary">发送验证码</button>
		</div>
	</form>
</div>
